html {
  background: #199620;
  background: -webkit-linear-gradient(to right, #71ed65, #199620);
  background: linear-gradient(to right, #183a0f, #199620);
}
body {
  color: white;
  min-width: 1100px;
  max-width: 1600px;
  width: 60%;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
}
h1,
h2 {
  text-align: center;
  width: 100%;
  font-weight: 100;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
  cursor: default;
}
h1,
h2,
label {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
textarea,
input,
button {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
div.half {
  width: 50%;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
}
div.flex-container {
  display: flex;
}
input,
textarea {
  color: rgba(0, 0, 0, 0.8);
  /* resize: none; */
}
textarea,
input[type="text"],
button {
  width: 100%;
  border: 2px solid white;
  padding: 3px 5px;
  font-size: 1em;
  box-sizing: border-box;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#yaml {
  height: 314px;
}
#output {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 100px;
  flex: 1;
}
button {
  cursor: pointer;
  background: none;
  color: white;
  margin-bottom: 10px;
}
/* textarea:focus,
input:focus {
  /* outline: rgb(24, 203, 0) solid;
  border-radius: 6px;
  box-shadow: 0 0 0 1pt grey;
} */
button:hover {
  color:  rgb(0, 0, 0);
  border-color:  rgb(0, 0, 0);
}
button:active {
  opacity: 0.5;
}
a {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.link-group {
  margin: 40px auto 0 auto;
  text-align: center;
}
.kv-group {
  /* border: solid 1px rgba(0, 0, 0, 0.2); */
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  padding-left: 20px;
}

button.kv-delete {
  font-size: 0.8em;
  border: none;
  color: rgba(255, 255, 255, 0.7);
  float: right;
  width: initial;
  margin: 0;
  padding: 0;
  box-shadow: none;
}
button.kv-delete:hover {
  color: rgb(0, 0, 0);
}

.kv-label {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.7);
}
